@import "variables";

.gallery__carousel::-webkit-scrollbar {
  display: none;
}

.gallery {
  overflow-x: hidden;
  overflow-y: visible;
  position: relative;
  height: 80vh;

  &__name {
    margin-left: 300px;
    margin-top: 3vh;
    margin-bottom: 1rem;
    font-size: 3rem;
    position: absolute;
    z-index: 50;
    top: 485px;
    right: 80px;
  }

  &__carousel {
    margin-top: 5vh;
    position: relative;
    display: flex;
    flex-shrink: 0;
    gap: 1rem;
    margin-left: auto;
    width: 100%;
    overflow-x: scroll;

    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
  }

  &__imageContainer {
    min-width: 400px;
    height: 500px;
    position: relative;

    &:first-child {
      margin-left: 300px;
    }
  }

  &__image {
    object-fit: cover;
  }
}
