.navbar {
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__heading {
    font-size: 4rem;
  }

  &__menu {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 2rem;
    font-size: 1.25rem;
  }
}
